{{ define "entry" }}

{{ with .User.Name }}
  <div>User: <a href="/user/{{ . }}">{{ . }}</a></div>
{{ end }}
<div>Competition: <a href="/competition/{{ .CompetitionID }}">{{ .Competition.Name }}</a></div>
<div>End Date: {{ (formatDate .Competition.Date) }}</div>
<div>Submit Date: {{ (formatDate .CreatedAt) }}</div>
<div>Execution Time: <b>{{ (formatExecTime .ExecTime) }} seconds</b></div>
<div>Average for Competition: <b>{{ (formatExecTime .Competition.AverageExecTime) }} seconds</b></div>
<div>How Many Times Faster: <b>{{ (formatExecTime (timesFaster .ExecTime .Competition.AverageExecTime)) }}x</b></div>

{{ with .Code }}
  <pre><code>{{ . }}</code></pre>
{{ end }}

<link rel="stylesheet" type="text/css" href="/static/github-gist.css" />
<script type="text/javascript" src="/static/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad()</script>

{{ end }}
