@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: Consolas, Inconsolata, Source Code Pro, DejaVu Sans Mono, Anonymous Pro, monospace;
    background-color: #FFF;
    color: #222;
}

table td {
    padding: 3px;
}

table, table th, table td {
    border: 1px solid #222;
}

form table tr {
    background-color: #FFF !important;
}

form table, form table th, form table td {
    border: none;
}

.error {
    color: red;
}
