::selection { background: #FFCD47; }
::-moz-selection { background: #FFCD47; }
::-webkit-selection { background: #FFCD47; }

body {
    font-family: Consolas, Inconsolata, Source Code Pro, DejaVu Sans Mono, Anonymous Pro, monospace;
    color: #222;
    width: 650px;
    margin: 0 auto;
    font-weight: 400;
}

table td {
    padding: 3px;
    vertical-align: baseline;
}

table, table th, table td {
    border: 1px solid #BBB;
}

.no-border {
    border: none;
}

form table tr {
    background-color: #FFF;
}

form table, form table th, form table td {
    border: none;
}

input[type="text"], input[type="password"] {
    border: 1px solid #BBB !important;
    padding: 1px !important;
}

textarea {
    width: 100%;
}

.error {
    color: #F55;
}

.normal {
    font-weight: normal;
}

.description {
    background-color: #EEE;
    padding: 1.5em;
    font-style: italic;
}

.red {
    background-color: #F55;
}

.green {
    background-color: limegreen;
}

.emoji {
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.15em;
}

.no-bottom {
    margin-bottom: 0;
}

table.side-by-side {
    width: 100%;
    border: none;
}

table.side-by-side td:first-child {
    width: 50%;
    border: none;
}

table.side-by-side td:last-child {
    width: 50%;
    border: none;
}
