{{ define "body" }}

<h3>Archive</h3>
<span>The archive serves as a sort of <i>museum of code</i>. Winning entries are ordered by how many times faster they were than the average solution for that competition.</span>
<table class="side-by-side">
  <tbody>
    <tr>
      <td>
        <h4>Past Competitions</h4>
        <table>
          <thead>
            <td>Name</td>
            <td>Ended On</td>
          </thead>
          <tbody>
            {{ range $comp := .competitions }}
              <tr>
                <td><a href="/competition/{{ $comp.ID }}">{{ $comp.Name }}</a></td>
                <td>{{ (formatDate $comp.Date) }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </td>
      <td>
        <h4>Fastest Programs</h4>
        <table>
          <thead>
            <td>Entry</td>
            <td>User</td>
            <td>How much faster than average?</td>
            <td>Submit Date</td>
          </thead>
          <tbody>
            {{ range $entry := .fastest }}
              <tr>
                <td><a href="/entry/{{ $entry.ID }}">{{ $entry.ID }}</td>
                <td>{{ $entry.User.Name }}</td>
                <td>{{ (formatSolution $entry.TimesFaster) }}x</td>
                <td>{{ (formatDate $entry.CreatedAt) }}</td>
              </tr>
            {{ end }}
        </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{{ end }}
