{{ define "body" }}
<h3>Edit "{{ .competition.Name }}"</h3>
<form action="/competition/{{ .competition.ID }}/edit" method="post">
  <table>
    <tr>
      <td>Name:*</td>
      <td><input type="text" name="name" value="{{ .competition.Name }}" /></td>
      <td class="error">
        {{ with .errors.name }}
        <span> ({{ . }})</span>
        {{ end }}
      </td>
    </tr>
    <tr>
      <td>Description:*</td>
      <td>
        <textarea name="description" rows="15" cols="80">{{ .competition.Description  }}</textarea>
      </td>
      <td class="error">
        {{ with .errors.description }}
        <span> ({{ . }})</span>
        {{ end }}
      </td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><input type="date" name="date" value="{{ .competitionDate }}" /></td>
      <td class="error">
        {{ with .errors.date }}
        <span> ({{ . }})</span>
        {{ end }}
      </td>
    </tr>
    <tr>
      <td>Solution:*</td>
      <td><input type="text" name="solution" value="{{ .competition.Solution }}" /></td>
      <td class="error">
        {{ with .errors.solution }}
        <span> ({{ . }})</span>
        {{ end }}
      </td>
    </tr>
  </table>
  <br/>
  <input type="submit" value="Update Competition" />
</form>
{{ end }}
