{{define "body"}}

<h3>What is this?</h3>

<p>CETCH is a computer science competition. Each week we present a computationally soluble problem of varying complexity. It's up to you to solve it in one of the allowed languages. On Friday at midnight, all the entries are run in a sandbox and the execution times are clocked. The program with the fastest execution time wins.</p>

<h3>This week:</h3>
<div><u>{{ .competition.Name }}</u></div>
{{ template "competition_meta" .}}

{{ if .authorized }}
  {{ if .entry.ID }}
    {{ template "entry" .}}
  {{ else }}
    {{ template "entry_upload" .}}
  {{ end }}
{{ else }}
  Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to enter competitions.
{{ end }}

{{end}}
