{{define "body"}}

<h3>What is this?</h3>

<p>CETCH is a computer science competition involving coders all over the world. Each week we solve a computer science puzzle of varying complexity and upload the solution. On Friday at midnight, all the entries are run in a sandbox and the execution times are clocked. <b>The program with the fastest execution time wins.</b></p>

{{ template "competition_meta" .}}

{{ if .authorized }}
  {{ template "entry_upload" .}}
{{ else }}
  Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to enter competitions.
{{ end }}

{{end}}
