{{ define "layout" }}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CETCH (code execution time championships)</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
  </head>
  <body>
    <header>
      <br/>
      <h3 class="inline-block"><img class="emoji" src="/static/computer.png"/><img class="emoji" src="/static/zap.png"/>CETCH</h3>
      <a href="/">Home</a>
      <a href="/competitions">Archive</a>
      {{ if .admin }}
      <a href="/schedule">Schedule</a>
      <a href="/competition/new">Create</a>
      {{ end }}
      -
      {{ if .authorized }}
      <a href="{{.userpath}}">Profile</a>
      <a href="/logout">Logout</a>
      {{ else }}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      {{ end }}
    </header>
    {{ template "body" .}}
  </body>
</html>
{{ end }}
