{{ define "layout" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CETCH (Code Execution Time CHallenge)</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
  </head>
  <body>
    <header>
      <h3><img class="emoji" src="/static/computer.png"/><img class="emoji" src="/static/zap.png"/>CETCH (Code Execution Time CHallenge)</h3>
      <nav>
        <a href="/">Home</a>
        <!-- <a href="/competitors">Competitors</a> -->
        <a href="/entry/new">Current</a>
        <a href="/archive">Archive</a>
        <a href="/rules">Rules</a>
        {{ if .admin }}
          <a href="/schedule">Schedule</a>
        {{ end }}
        -
        {{ if .authorized }}
          <a href="{{.userpath}}">Profile</a>
          <a href="/logout">Logout</a>
        {{ else }}
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
        {{ end }}
      </nav>
    </header>
    <main>
      {{ template "body" .}}
      <br/>
    </main>
    {{ with .sticky_entry }}
      <aside>
        <h3>Current Entry:</h3>
        {{ template "entry" .}}
      </aside>
      <br/>
    {{ end }}
    <script>
     var headerHeight = 85
     var aside = document.querySelector("aside")
     document.addEventListener("scroll", function () {
       if (document.body.scrollTop > 85) {
         aside.style.top = "0"
         aside.style.position = "fixed"
       } else {
         aside.style.top = headerHeight + "px"
         aside.style.position = "absolute"
       }
     })
    </script>
  </body>
</html>

{{ end }}
