{{ define "body" }}
<h3>Login</h3>

<form action="/login" method="POST">
  <table>
    <tbody>
      <tr>
        <td>Username:</td>
        <td> <input type="text" name="username" value="{{ .username }}" /></td>
        <td>
          {{ with .errors.username }}
          <span class="error"> ({{ . }})</span>
          {{ end }}
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" value="{{ .password }}" /></td>
        <td>
          {{ with .errors.password }}
          <span class="error"> ({{ . }})</span>
          {{ end }}
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <input type="submit" value="Login" />
</form>
<br/>
<a href="/forgotten">Forgot your password?</a>
{{ end }}
