{{ define "body" }}

<h3>Competition Schedule</h3>

<form action="/schedule" method="POST">
  <table>
    <thead>
      <td>Date</td>
      <td>Competition</td>
    </thead>
    <tbody>
      {{ range $i, $day := .days }}
        <tr {{ if (eq $i 0)}} class="red" {{ else if (eq $i 1) }} class="green" {{ end}}>
          <td>{{ .Date }}</td>
          <td>
            <input
              type="text"
              {{ if (not (eq $i 0)) }}
              class="reorderable-target"
              draggable="true"
              {{ end }}
              readonly="true"
              name="{{ .Date }}"
              value="{{ .Competition.Name }}"
            />
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
  <br/>
  <input type="submit" value="Save" />
  <input type="reset">
</form>
<h3>Unscheduled Competitions</h3>
{{ if (eq (len .comps) 0) }}
  None
{{ else }}
  <ul>
    {{ range $comp := .comps }}
      <li><input type="text" readonly="true" value="{{ $comp.Name }}" class="reorderable-target" draggable="true" /></li>
    {{ end }}
  </ul>
{{ end }}
<br>
<br/>

<script type="text/javascript" src="/static/reorderable.js"></script>
{{ end }}
