{{ define "body" }}
<h3>{{ .username }}</h3>

{{ if (eq .username .authorized_username) }}
This is your profile.
{{ end }}
{{ if .admin }}
You are an admin.
{{ end }}


<h4>Fastest Entries:</h4>
{{ if (eq (len .entries) 0)}}
  You haven't entered any competitions yet.
{{ else }}
  <table>
    <thead>
      <td>#</td>
      <td>How many times faster?</td>
    </thead>
    {{ range $entry := .entries }}
      <tr>
        <td><a href="/entry/{{ $entry.ID }}">{{ $entry.ID }}</a></td>
        <td>{{ (formatExecTime (timesFaster $entry.ExecTime $entry.Competition.AverageExecTime)) }}</td>
      </tr>
    {{ end }}
  </table>
{{ end }}

{{ end }}
